<br>
<br>
<br>
<div  class="container" style="padding-top: 70px;">
  <h1>Mes commandes </h1>
  <table class="table table-striped">
    <thead>
    <tr>
        <th>CommandId</th>
        <th>UserId</th>
        <th>orderDate</th>
        <th>deliveryDate</th>
        <th>delivered</th>
        <th>deliveredDate</th>
        <th>homeDelivery</th>
        <th>address</th>
        <th>zipecode</th>
        <th>city</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listCommandsByEmail">
        <td>{{item.commandId}}</td>
        <td>{{item.user.userId}}</td>
        <td>{{item.orderDate}}</td>
        <td>{{item.deliveryDate}}</td>
        <td>{{item.delivered}}</td>
        <td>{{item.deliveredDate}}</td>
        <td>{{item.homeDelivery}}</td>
        <td>{{item.address}}</td>
        <td>{{item.zipecode}}</td>
        <td>{{item.city}}</td>
    </tr>
    </tbody>
  </table>
</div>


<div *ngIf="isAdmin()" class="container" style="padding-top: 70px;">
    <h1>Liste de toutes les commandes</h1>
    <table class="table table-striped" *ngIf="listCommands.length > 0">
      <thead>
        <tr >
          <th>CommandId</th>
          <th>UserId</th>
          <th>orderDate</th>
          <th>deliveryDate</th>
          <th>delivered</th>
          <th>deliveredDate</th>
          <th>homeDelivery</th>
          <th>address</th>
          <th>zipecode</th>
          <th>city</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCommands; let i = index; ">
            <th>{{item.commandId}}</th>
            <th>{{item.user.userId}}</th>
            <th>{{item.orderDate}}</th>
            <th>{{item.deliveryDate}}</th>
            <th>{{item.delivered}}</th>
            <th>{{item.deliveredDate}}</th>
            <th>{{item.homeDelivery}}</th>
            <th>{{item.address}}</th>
            <th>{{item.zipecode}}</th>
            <th>{{item.city}}</th>
        </tr>
      </tbody>
    </table>
  </div>


